<a href="https://colab.research.google.com/github/fkofkf431/Python-For-Data-Science/blob/main/Python_for_Data_Science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Loops in python**-
# **for loop**- a for loop is used to repeat a task for every item in a collection(like a list, string etc).Jab hume kisi kaam ko bar bar karna ho,ek list ke har element par ,to hum for loop ka use karte hain. Basic Syntax--------- for variable in collection: code block

In [ ]:
# Print each students name in a collection of list
students = ["firoz", "rubina", "rohan", "Dua"]
for student in students:
  print("Hello", student)

Hello firoz
Hello rubina
Hello rohan
Hello Dua

In [ ]:
# Print each character of your name
name = "Firoz"
for letter in name:
  print(letter)

F
i
r
o
z

In [ ]:
# Print numbers from 1 to 5
for i in range(1,6):
  print(i)

1
2
3
4
5

In [ ]:
# Sum of all items in a list
expenses = [100, 200, 300, 400, 500]
total = 0   # Start hota hai zero se
for expense in expenses:
  total = total + expense  # Ek ek karke yahan add hota rahega
print("Total Expenses: ", total)

Total Expenses:  1500

In [ ]:
# Print only even numbers from 1 to 10
for i in range(1, 11):
  if i % 2 == 0:
    print(i)

2
4
6
8
10

In [ ]:
# Nested for loop, loop inside loop
for i in range(1, 4):
  for j in range(1, 4):
    print(i, j)

1 1
1 2
1 3
2 1
2 2
2 3
3 1
3 2
3 3

In [ ]:
# print all numbers from 1 to 10
for i in range(1, 11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# Print all odd numbers from 1 to 10
for i in range(1, 11):
  if i % 2 != 0:
    print(i)

1
3
5
7
9

In [ ]:
# Print each letters in the word "PythonRocks"
word = "PythonRocks"
for letter in word:
  print(letter)

P
y
t
h
o
n
R
o
c
k
s

In [ ]:
# print 5 fruits one by one
fruits = ["apple", "banana", "cherry", "date", "elderberry"]
for fruit in fruits:
  print(fruit)

apple
banana
cherry
date
elderberry

In [ ]:
# Calculate total of marks in given list
marks = [90, 80, 70, 60, 50]
total = 0
for mark in marks:
  total += mark
print("Total Marks: ", total)

Total Marks:  350

In [ ]:
# Print a table of 5 using for loop
for i in range(1, 11):
  print("5 x", i, "=", 5 * i)

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [ ]:
# Count how many vowels are in "Hello Python World"
string = "Hello Python World"
vowels = "aeiouAEIOU"  # humne bta diya ye vowels hain
count = 0              # counting 0 se shuru hoti hai
for char in string:
  if char in vowels:
    count += 1
print("Number of vowels: ", count)

Number of vowels:  4

In [ ]:
# print square of numbers from 1 to 5
for i in range(1, 6):
  print("Square of", i, "is", i * i)

Square of 1 is 1
Square of 2 is 4
Square of 3 is 9
Square of 4 is 16
Square of 5 is 25

In [ ]:
# Print the numbers from 10 to 1(reverse)
for i in range(1, 11):
  print(11 - i)

10
9
8
7
6
5
4
3
2
1

In [ ]:
# from given list print the numbers which are greater than 50
numbers = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
for num in numbers:
  if num > 50:
    print(num)

60
70
80
90
100

# **while loop**- A while loop is used to repeat a block of code as long as a condition is true.Agar koi kaam jab tak karte rehna hai tab tak koi condition fullfil ho rahi ho.Basic syntax- while condition: code block

In [ ]:
# Counting from 1 to 5
i = 1
while i <= 5:
  print(i)
  i += 1

1
2
3
4
5

In [26]:
# ATM pin check - 3 attemts only
correct_pin = "1234"
attempts = 0

while attempts < 3:
  pin = input("Enter your pin: ")
  if pin == correct_pin:
    print("Pin accepted")
    break
  else:
    print("Incorrect pin")
    attempts += 1
else:
  print("Too many attempts")

Enter your pin: 1234
Pin accepted

In [27]:
# Sum numbers untill user enter zero
total = 0
while True:
  num = int(input("Enter a number: "))
  if num == 0:
    break
  total += num
print("Total: ", total)

Enter a number: 5
Enter a number: 8
Enter a number: 6
Enter a number: 9
Enter a number: 0
Total:  28

In [28]:
# Second method
total = 0
num = int(input("Enter a number: "))
while num != 0:
  total += num
  num = int(input("Enter a number: "))
print("Total: ", total)

Enter a number: 5
Enter a number: 7
Enter a number: 0
Total:  12

In [29]:
# countdown timer
count = 5
while count > 0:
  print("countdown:", count)
  count -= 1
print("Blast")

countdown: 5
countdown: 4
countdown: 3
countdown: 2
countdown: 1
Blast

In [31]:
# infinite loop with break
while True:
  name = input("Enter your name: ")
  if name != "":
    break
  print("Hello", name)

Enter your name:
Hello
Enter your name:
Hello
Enter your name: firoz

In [32]:
# print numbers from 1 to 10 using while loop
i = 1
while i <= 10:
  print(i)
  i += 1

1
2
3
4
5
6
7
8
9
10

In [37]:
# Print all even numbers between 1 to 20
i = 1
while i <= 20:
  if i % 2 == 0:
    print(i)
  i += 1

2
4
6
8
10
12
14
16
18
20

In [38]:
# count from 10 to 1 (inverse countdown)
count = 10
while count > 0:
  print(count)
  count -= 1

10
9
8
7
6
5
4
3
2
1

In [39]:
# Ask user to enter names untill they type stop and print all names
names = input("Enter your name: ")
while names != "stop":
  print(names)
  names = input("Enter names:")

Enter your name: firoz
firoz
Enter names:rubina
rubina
Enter names:dua
dua
Enter names:stop

In [4]:
# Sum of digits of a number using while loop(eg- 123)
num = int(input("Enter a number: "))
total = 0   # yahan hum Total sum store karenge digit ka
while num > 0:
  digit = num % 10   # 10 se kisi number ka modulus nikalenge to last digit ayegi hmesha,islye 10 modulus karte hain hmesha
  total += digit     # Us digit ko total me add karte hain
  num //= 10      # integer division last digit ko hata deta hai 10 se karne par,isliye 10 se karte hain
print("Sum of digits: ", total)

Enter a number: 786
Sum of digits:  21

In [7]:
# check if a number is a palindrome using while loop
num = int(input("Enter Number"))
original = num    # Oroginal number ko alag store kar liya,kyu ke num ko hum reverse karne me change karenge
reverse = 0       # Ek naya variable bnaya jisme hum reverse number banayenge
while num > 0:    # har baar ek digit nikal kar reverse banayenge
  digit = num % 10    # Last digit nikal rahe hain
  reverse = reverse * 10 + digit    # jo digit mili hai usko reverse number me add kar rahe hain
  num = num // 10      # last digit ko number se hata rahe hain
if original == reverse:
  print("Palindrome")
else:
  print("Not Palindrome")

Enter Number434
Palindrome

In [10]:
# Create a login system with username and password max 3 attempt
username = "admin"
password = "1234"
attempts = 0

while attempts < 3:
  user = input("Enter username: ")
  passw = input("Enter password: ")
  if user == username and passw == password:
    print("Login Successful")
    break
  else:
    print("Incorrect username or password")
    attempts += 1
else:
  print("Too many attempts")

Enter username: admin
Enter password: 1234
Login Successful

In [ ]:
# ask the user to Enter numbers until total becomes greater than 100