<a href="https://colab.research.google.com/github/fkofkf431/Python-For-Data-Science/blob/main/Python_for_Data_Science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Loops in python**-
# **for loop**- a for loop is used to repeat a task for every item in a collection(like a list, string etc).Jab hume kisi kaam ko bar bar karna ho,ek list ke har element par ,to hum for loop ka use karte hain. Basic Syntax--------- for variable in collection: code block

In [ ]:
# Print each students name in a collection of list
students = ["firoz", "rubina", "rohan", "Dua"]
for student in students:
  print("Hello", student)

Hello firoz
Hello rubina
Hello rohan
Hello Dua

In [ ]:
# Print each character of your name
name = "Firoz"
for letter in name:
  print(letter)

F
i
r
o
z

In [ ]:
# Print numbers from 1 to 5
for i in range(1,6):
  print(i)

1
2
3
4
5

In [ ]:
# Sum of all items in a list
expenses = [100, 200, 300, 400, 500]
total = 0   # Start hota hai zero se
for expense in expenses:
  total = total + expense  # Ek ek karke yahan add hota rahega
print("Total Expenses: ", total)

Total Expenses:  1500

In [ ]:
# Print only even numbers from 1 to 10
for i in range(1, 11):
  if i % 2 == 0:
    print(i)

2
4
6
8
10

In [ ]:
# Nested for loop, loop inside loop
for i in range(1, 4):
  for j in range(1, 4):
    print(i, j)

1 1
1 2
1 3
2 1
2 2
2 3
3 1
3 2
3 3

In [ ]:
# print all numbers from 1 to 10
for i in range(1, 11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# Print all odd numbers from 1 to 10
for i in range(1, 11):
  if i % 2 != 0:
    print(i)

1
3
5
7
9

In [ ]:
# Print each letters in the word "PythonRocks"
word = "PythonRocks"
for letter in word:
  print(letter)

P
y
t
h
o
n
R
o
c
k
s

In [ ]:
# print 5 fruits one by one
fruits = ["apple", "banana", "cherry", "date", "elderberry"]
for fruit in fruits:
  print(fruit)

apple
banana
cherry
date
elderberry

In [ ]:
# Calculate total of marks in given list
marks = [90, 80, 70, 60, 50]
total = 0
for mark in marks:
  total += mark
print("Total Marks: ", total)

Total Marks:  350

In [ ]:
# Print a table of 5 using for loop
for i in range(1, 11):
  print("5 x", i, "=", 5 * i)

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [ ]:
# Count how many vowels are in "Hello Python World"
string = "Hello Python World"
vowels = "aeiouAEIOU"  # humne bta diya ye vowels hain
count = 0              # counting 0 se shuru hoti hai
for char in string:
  if char in vowels:
    count += 1
print("Number of vowels: ", count)

Number of vowels:  4

In [ ]:
# print square of numbers from 1 to 5
for i in range(1, 6):
  print("Square of", i, "is", i * i)

Square of 1 is 1
Square of 2 is 4
Square of 3 is 9
Square of 4 is 16
Square of 5 is 25

In [ ]:
# Print the numbers from 10 to 1(reverse)
for i in range(1, 11):
  print(11 - i)

10
9
8
7
6
5
4
3
2
1

In [ ]:
# from given list print the numbers which are greater than 50
numbers = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
for num in numbers:
  if num > 50:
    print(num)

60
70
80
90
100

# **while loop**- A while loop is used to repeat a block of code as long as a condition is true.Agar koi kaam jab tak karte rehna hai tab tak koi condition fullfil ho rahi ho.Basic syntax- while condition: code block

In [ ]:
# Counting from 1 to 5
i = 1
while i <= 5:
  print(i)
  i += 1

1
2
3
4
5

In [ ]:
# ATM pin check - 3 attemts only
correct_pin = "1234"
attempts = 0

while attempts < 3:
  pin = input("Enter your pin: ")
  if pin == correct_pin:
    print("Pin accepted")
    break
  else:
    print("Incorrect pin")
    attempts += 1
else:
  print("Too many attempts")

Enter your pin: 1234
Pin accepted

In [ ]:
# Sum numbers untill user enter zero
total = 0
while True:
  num = int(input("Enter a number: "))
  if num == 0:
    break
  total += num
print("Total: ", total)

Enter a number: 5
Enter a number: 8
Enter a number: 6
Enter a number: 9
Enter a number: 0
Total:  28

In [ ]:
# Second method
total = 0
num = int(input("Enter a number: "))
while num != 0:
  total += num
  num = int(input("Enter a number: "))
print("Total: ", total)

Enter a number: 5
Enter a number: 7
Enter a number: 0
Total:  12

In [ ]:
# countdown timer
count = 5
while count > 0:
  print("countdown:", count)
  count -= 1
print("Blast")

countdown: 5
countdown: 4
countdown: 3
countdown: 2
countdown: 1
Blast

In [ ]:
# infinite loop with break
while True:
  name = input("Enter your name: ")
  if name != "":
    break
  print("Hello", name)

Enter your name:
Hello
Enter your name:
Hello
Enter your name: firoz

In [ ]:
# print numbers from 1 to 10 using while loop
i = 1
while i <= 10:
  print(i)
  i += 1

1
2
3
4
5
6
7
8
9
10

In [ ]:
# Print all even numbers between 1 to 20
i = 1
while i <= 20:
  if i % 2 == 0:
    print(i)
  i += 1

2
4
6
8
10
12
14
16
18
20

In [ ]:
# count from 10 to 1 (inverse countdown)
count = 10
while count > 0:
  print(count)
  count -= 1

10
9
8
7
6
5
4
3
2
1

In [ ]:
# Ask user to enter names untill they type stop and print all names
names = input("Enter your name: ")
while names != "stop":
  print(names)
  names = input("Enter names:")

Enter your name: firoz
firoz
Enter names:rubina
rubina
Enter names:dua
dua
Enter names:stop

In [ ]:
# Sum of digits of a number using while loop(eg- 123)
num = int(input("Enter a number: "))
total = 0   # yahan hum Total sum store karenge digit ka
while num > 0:
  digit = num % 10   # 10 se kisi number ka modulus nikalenge to last digit ayegi hmesha,islye 10 modulus karte hain hmesha
  total += digit     # Us digit ko total me add karte hain
  num //= 10      # integer division last digit ko hata deta hai 10 se karne par,isliye 10 se karte hain
print("Sum of digits: ", total)

Enter a number: 786
Sum of digits:  21

In [ ]:
# check if a number is a palindrome using while loop
num = int(input("Enter Number"))
original = num    # Oroginal number ko alag store kar liya,kyu ke num ko hum reverse karne me change karenge
reverse = 0       # Ek naya variable bnaya jisme hum reverse number banayenge
while num > 0:    # har baar ek digit nikal kar reverse banayenge
  digit = num % 10    # Last digit nikal rahe hain
  reverse = reverse * 10 + digit    # jo digit mili hai usko reverse number me add kar rahe hain
  num = num // 10      # last digit ko number se hata rahe hain
if original == reverse:
  print("Palindrome")
else:
  print("Not Palindrome")

Enter Number434
Palindrome

In [ ]:
# Create a login system with username and password max 3 attempt
username = "admin"
password = "1234"
attempts = 0

while attempts < 3:
  user = input("Enter username: ")
  passw = input("Enter password: ")
  if user == username and passw == password:
    print("Login Successful")
    break
  else:
    print("Incorrect username or password")
    attempts += 1
else:
  print("Too many attempts")

Enter username: admin
Enter password: 1234
Login Successful

In [ ]:
# ask the user to Enter numbers until total becomes greater than 100
total = 0
while total <= 100:
  num = int(input("Enter a number: "))
  total += num
print("Total: ", total)

Enter a number: 50
Enter a number: 50
Enter a number: 50
Total:  150

In [ ]:
# print squares of numbers from 1 to 5
for i in range(1, 6):
  print("Square of", i, "is", i * i)

Square of 1 is 1
Square of 2 is 4
Square of 3 is 9
Square of 4 is 16
Square of 5 is 25

In [ ]:
# create a simple calculator that keeps running until user enters "exit"
while True:
  operations = input("Enter operation: ")
  if operations.lower() == "exit":
    break
  num1 = int(input("Enter first number: "))
  num2 = int(input("Enter second number: "))
  if operations == "+":
    print(num1 + num2)
  elif operations == "-":
    print(num1 - num2)
  elif operations == "*":
    print(num1 * num2)
  elif operations == "/":
    print(num1 / num2)
  else:
    print("Invalid operation")

Enter operation: *
Enter first number: 90
Enter second number: 10
900
Enter operation: Exit

# **if-else**- if- else is a desicion making structure.It checks a condition and runs code only if that condition is true, otherwise ,it runs another block.
if condition:
   
   code executes if condition is true

else:
   
   code executes if condition is false

In [ ]:
# Voting eligibility
age = int(input("Enter your age: "))
if age >= 18:
  print("You are eligible to vote")
else:
  print("You are not eligible to vote")

Enter your age: 18
You are eligible to vote

In [ ]:
# check if number is even or odd
num = int(input("Enter a number: "))
if num % 2 == 0:
  print("Even")
else:
  print("Odd")

Enter a number: 9
Odd

In [ ]:
# Password check
password = input("Enter password: ")
if password == "password":
  print("Password accepted")
else:
  print("Incorrect password")
#

Enter password: djjdjjdj
Incorrect password

In [ ]:
# Discount system
amount = float(input("Enter amount: "))
if amount >= 1000:
  discount = amount * 0.1
  print("Discount: ", discount)
else:
  print("No discount")

Enter amount: 1200
Discount:  120.0

In [ ]:
# Multiple condition if-elif-else
marks = int(input("Enter your marks: "))
if marks >= 90:
  print("Grade A")
elif marks >= 80:
  print("Grade B")
elif marks >= 70:
  print("Grade C")
elif marks >= 60:
  print("Grade D")
else:
  print("Fail")

Enter your marks: 30
Fail

In [ ]:
# Nested if else
num = int(input("Enter a number: "))
if num >= 0:
  if num == 0:
    print("Zero")
  else:
    print("Positive")
else:
  print("Negative")

Enter a number: -2
Negative

In [ ]:
# Nested if
age = 20
citizen = True
if age >= 18:
  if citizen:
    print("Eligible to vote")
  else:
    print("Not a citizen")
else:
  print("Not eligible to vote")

Eligible to vote

In [ ]:
# Ternary operator ( shortcut if else)
age = 18
message = "Eligible to vote" if age >= 18 else "Not eligible to vote"
print(message)

Eligible to vote

In [ ]:
# Take a number as input and check if it is positive,negative or zero
num = int(input("Enter a number: "))
if num > 0:
  print("Positive")
elif num < 0:
  print("Negative")
else:
  print("Number is zero")

Enter a number: -2
Negative

In [ ]:
# Ask a user for their age and print "Teenager" if between 13-19, else "not ateenager".
age = int(input("Enter your age: "))
if age >= 13 and age <= 19:
  print("Teenager")
else:
  print("Not a teenager")

Enter your age: 7
Not a teenager

In [ ]:
# write a program to check whether a year is a leap year or not
year = int(input("Enter a year: "))
if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
  print("Leap year")
else:
  print("Not a leap year")

Enter a year: 2025
Not a leap year

In [ ]:
# Ask the user for temperature. If > 30 print hot, elif between 20-30 print warm, else cold
temp = float(input("Enter temperature: "))
if temp > 30:
  print("Hot")
elif temp >= 20 and temp <= 30:
  print("Warm")
else:
  print("Cold")

Enter temperature: 25
Warm

In [ ]:
# create a login system where the user must enter the correct username and password
username = "admin"
password = "1234"
user = input("Enter username: ")
passw = input("Enter password: ")
if user == username and passw == password:
  print("Login Successful")

Enter username: admin
Enter password: 1234
Login Successful

In [ ]:
# take 3 numbers and find the largest
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
num3 = int(input("Enter third number: "))
if num1 > num2 and num1 > num3:
  print("Largest: ", num1)
elif num2 > num1 and num2 > num3:
  print("Largest: ", num2)
else:
  print("Largest: ", num3)

Enter first number: 9
Enter second number: 7
Enter third number: 5
Largest:  9

In [ ]:
# Ask for a number and print divisible by 3,if divisible, else  not divisible by 3
num = int(input("Enter a number: "))
if num % 3 == 0:
  print("Divisible by 3")
else:
  print("Not divisible by 3")

Enter a number: 8
Not divisible by 3

In [ ]:
# Take a mark input, if >= 90, print excillent, if >= 60 print good, else fail
mark = int(input("Enter your mark: "))
if mark >= 90:
  print("Excellent")
elif mark >= 60:
  print("Good")
else:
  print("Fail")

Enter your mark: 70
Good

In [ ]:
# Check whether a character is a vowel or consonant
vowel = "aeiouAEIOU"
char = input("Enter a character: ")
if char in vowel:
  print("Vowel")
else:
  print("Consonant")

Enter a character: g
Consonant

In [ ]:
# Use a ternary operator to check if a number is even or odd
num = int(input("Enter a number: "))
message = "Even" if num % 2 == 0 else "Odd"
print(message)

Enter a number: 6
Even

# **Functions**- Imp function (def, return, lambda, *args, kwargs)- A function is a block of code that runs only when you call it.It helps avoid repeating code.Make programs shorter and easier to maintain.Can take input(parameters) and can return output.

# **def**- defining a function- syntax- def function_name(parameters): code block than return something.-- def- keyword to define a function, function_name- must be meaningful, parameters- optional;variables to recieve input, return-optional; sends result back.

In [ ]:
# function with no parameters
def greet():
  print("Hello")
greet()

Hello

In [ ]:
# Function with parameters
def greet(name):
  print("Hello", name)  #name is a parameter
greet("Firoz")   # Firoz is the argument passed

Hello Firoz

In [ ]:
# function returning a value-- function with return
def add(a, b):
  return a + b    # return sends the result back, if dont use return, the function will output none.
result = add(2, 3)
print(result)

5

In [ ]:
# why return is useful
def square(x):
  return x * x
result = square(4)
print(result)     # if we had only print inside the function,we could not use its result later

16

In [ ]:
# Function without return
def add(a, b):
  print(a+b)
result = add(2, 3)
print(result)

5
None

In [ ]:
# returning multiple values
def calculate(a, b):
  return a + b, a - b, a * b, a / b
result = calculate(4, 2)
print(result)

(6, 2, 8, 2.0)

# **lambda function**- A small anonymous function(no name).define using lambda keyword.Usually used for quick, simple operations. syntax- lambda arguments: expression.. Sorting, mapping and filtering ke liye use kiya jata hai one line code likhne me.

In [ ]:
# Simple lambda
square = lambda x: x * x
result = square(5)
print(result)   # Ya direct print(square(5)) bhi use kar sakte hain

25

In [ ]:
# Add two numbers using lambda function
add = lambda a, b: a + b
print(add(3, 4))

7

In [ ]:
# lambda with map() function
numbers = [1, 2, 3, 4, 5]
squared = list(map(lambda x: x * x, numbers))
print(squared)

[1, 4, 9, 16, 25]

# **args**-(Arbitrary positional arguments)- jab hume pata nhi hota ki function ko kitne arguments milenge tab hum args use karte hain. ye saare extra arguments ko tuple ki form me store karta hai. Allow you to pass any number of arguments.Inside the function, they are sorted as a tuple.
# **kwargs**- kwargs ka matlb hota hai arbitrary keyword arguments.Jab hume nhi pata hota ki function ko kitne key value pairs milenge,tab hum kwargs ka use karte hain.Ye saare extra keyword arguments ko dictionary ki form me store karta hai.
# **kyu aur kab use karte hain**- function ko flexible banane ke liye, jab input ki exact quantity pehle se pata na ho. Kab- jab user/customers ke inputs har baar alag alag hote hain.APIs, data preprocessing aur ML models me jab parametrs dynamically change hote hain.

In [ ]:
# Pizza order system using *args
def make_pizza(*toppings):
  print("Making a pizza with the following toppings:")
  for topping in toppings:
    print(topping)
make_pizza("cheese", "tomato", "mushrooms")
make_pizza("cheese", "paneer")

Making a pizza with the following toppings:
cheese
tomato
mushrooms
Making a pizza with the following toppings:
cheese
paneer

In [ ]:
# using **kwargs make customer profile system
def create_profile(**customer):
  print("customer profile:")
  for key, value in customer.items():
    print(key, ":", value)
create_profile(name="John", age=25, city="New York")
create_profile(name="Alice", age=30, city="London", occupation="Engineer")

customer profile:
name : John
age : 25
city : New York
customer profile:
name : Alice
age : 30
city : London
occupation : Engineer

In [ ]:
# example using both *args and **kwargs
def order_summary(order_id, *items, **details):
  print("Order ID:", order_id)
  print("Items:")
  for item in items:
    print("-", item)
  print("Details:", details)

order_summary(101, "Burger", "Fries", address="Delhi", payment="UPI")

Order ID: 101
Items:
- Burger
- Fries
Details: {'address': 'Delhi', 'payment': 'UPI'}

In [ ]:
# Sum of all numbers using *args
def total_sum(*args):
    return sum(args)
print(total_sum(1, 2, 3, 4, 5))

15

In [ ]:
# Print all items using *args
def show_items(*args):
    for item in args:
        print(item)
show_items("apple", "banana", "orange")

apple
banana
orange

In [ ]:
# print details using **kwargs
def print_details(**kwargs):
  for key, value in kwargs.items():
    print(key, ":", value)
print_details(name="John", age=25, city = "Delhi")

name : John
age : 25
city : Delhi

In [ ]:
# Mixing *args and **kwargs
def show_data(*args, **kwargs):
  print("args:", args)
  print("kwargs:", kwargs)
show_data(1, 2, 3, name="John", age=25)

args: (1, 2, 3)
kwargs: {'name': 'John', 'age': 25}

In [ ]:
# Write a function multiply(a, b) that return the product of two numbers
def multiply(a, b):
  return a*b
multiply(4, 5)

20

In [ ]:
# Create a function is_even(num) that returns True if a number is even, otherwisw False
def is_even(num):
  if num % 2 == 0:
    return True
  else:
    return False
is_even(9)

False

In [ ]:
# Write a function that takes a number and return both its square and cube
def square_cube(num):
  square = num * num
  cube = num * num * num
  return square, cube
square_cube(5)

(25, 125)

In [ ]:
# Make a function convert_to_upper_case(text) that returns the upper case version of the string
def convert_to_upper_case(text):
  return text.upper()
convert_to_upper_case("hello")

'HELLO'

In [ ]:
# Create a function that takes three numbers and return their average
def average_of_three(a, b, c):
  return (a + b + c) / 3
average_of_three(1, 2, 3)

2.0

In [ ]:
# Using a lambda function to check whether a given string is a palindrome
is_palindrome = lambda s: s == s[::-1]
print(is_palindrome("madam"))

True

In [ ]:
# Make a list [2,4,6,8] and use map and lambda to divide each number by 2
numbers = [2, 4, 6, 8]
result = list(map(lambda x: x / 2, numbers))
print(result)

[1.0, 2.0, 3.0, 4.0]

In [ ]:
# Use filter () and lambda to get only numbers greater than 10 from the list [4, 5, 11, 2, 23, 8, 15]
numbers = [4, 5, 11, 2, 23, 8, 15]
result = list(filter(lambda x: x > 10, numbers))
print(result)

[11, 23, 15]

In [ ]:
# Write a function max_value(*args) that returns the largest number from any number of arguments
def max_value(*args):
  if not args:
    return "No number provided"
  return max(args)
max_value(1, 2, 3, 4, 5)

5

In [ ]:
# create a function print_items(*args) that prints each item on a new line
def print_items(*args):
  for item in args:
    print(item)
print_items("apple", "banana", "orange")

apple
banana
orange

In [ ]:
# Make a function student_info(**kwargs) that print keys and values
def student_info(**kwargs):
  for key, value in kwargs.items():
    print(key, ":", value)
student_info(name="John", age=25, city = "Delhi")

name : John
age : 25
city : Delhi

In [ ]:
# Create a function that accepts *args for subjects and **kwargs for student details and print both
def student_details(*args, **kwargs):
  print("Subjects:")
  for subject in args:
    print("-", subject)
  print("Student Details:")
  for key, value in kwargs.items():
    print(key, ":", value)
student_details("Math", "Science", "English", name= "Firoz", age = 35, course = "Data Science")

Subjects:
- Math
- Science
- English
Student Details:
name : Firoz
age : 35
course : Data Science

# **try-except**-(error handling in python) Pyhton program me agar koi error aa jaye,jese input galat ho to poora program crash na ho isliye hum try-except use karte hain. try: code that may cause error,  except: what to do if error occurs

In [ ]:
# division by zero using try and except
try:
  a = int(input("Enter first number: "))
  b = int(input("Enter second number: "))
  result = a / b
  print("Result: ", result)
except ZeroDivisionError:
  print("Error: Division by zero")

Enter first number: 10
Enter second number: 5
Result:  2.0

In [ ]:
# Invalid input, use try and except
try:
  age = int(input("Enter youe age: "))
  print("You entered:", age)
except ValueError:
  print("Please enter a valid number")

Enter youe age: d
Please enter a valid number

# **enumerate function**- (loop with index) enumerate() is a built in function that adds a counter(index) to an iterable (like a list, tuple , string etc) and returns it as an enumerate object.It adds a counter(index) when looping over list, string, tuple etc. enumerate(iterable, start = o)... iterable = list, string, tuple etc and start = the starting index(default is 0)-- syntax-- for index, item in enumerate(iterable): # use index and item

In [ ]:
# Without enumerate() function
fruits = ["apple", "banana", "mango"]
index = 0
for fruit in fruits:
  print(index, fruit)
  index += 1

0 apple
1 banana
2 mango

In [ ]:
# Using enumerate() function- much cleaner
fruits = ["apple", "banana", "mango"]
for index, fruit in enumerate(fruits):
  print(index, fruit)

0 apple
1 banana
2 mango

In [ ]:
# looping over characters using enumerate()
text = "Firoz"
for i, char in enumerate(text):
  print(i, char)

0 F
1 i
2 r
3 o
4 z

In [ ]:
# simple shopping cart
cart = []
total = 0
while True:
  try:
    item = input("Enter item name or done to finish: ")
    if item.lower() == "done":
      break
    price = float(input("Enter price for the item: "))
    cart.append((item, price))
    total += price
  except ValueError:
    print("Enter a valid price!")
print("\n your cart: ")
for i, (item, price) in enumerate(cart):
  print(str(i+1) + ". " + item + ": " + str(price))
print("\nTotal amount: ", total)

Enter item name or done to finish: mango
Enter price for the item: 400
Enter item name or done to finish: apple
Enter price for the item: 500
Enter item name or done to finish: banana
Enter price for the item: 300
Enter item name or done to finish: done

 your cart:
1. mango: 400.0
2. apple: 500.0
3. banana: 300.0

Total amount:  1200.0

In [ ]:
# Write a program that handles division of two numbers using try except
def divide_numbers(a, b):
  try:
    result = a / b
    print(result)
  except ZeroDivisionError:
    print("Error: can not divide by zero")
divide_numbers(4, 0)

Error: can not divide by zero

In [ ]:
# Ask the user to enter age, if they type letters,catch the error and show a friendly message
try:
  age = int(input("Enter your age: "))
  print("Your age is: ", age)
except ValueError:
  print("Invalid input! Please enter your age only in numbers")

Enter your age: d
Invalid input! Please enter your age only in numbers

In [ ]:
# Loop through a list of students and print their names with roll numbers using enumerate() function
students = ['fiorz', 'rubina', 'dua', 'faraz']
for roll, name in enumerate(students, start = 7):
  print("Roll No: ", roll, "Name: ", name)

Roll No:  7 Name:  fiorz
Roll No:  8 Name:  rubina
Roll No:  9 Name:  dua
Roll No:  10 Name:  faraz

In [ ]:
# create a list of task and print them with serial numbers
tasks = ["wake up", "study python", "do exercise", "read a book", "sleep early"]
for serial, task in enumerate(tasks, start = 1):
  print(serial, task)

1 wake up
2 study python
3 do exercise
4 read a book
5 sleep early

# **Python OOPs Concept**- Humare ghar me ek fan hai,market me kai tarah ke fan milte hain jese, usha fan, bajaj fan, orient fan. Har fan me speed hoti hai,color hota hai,on off switch hota hai.Toh: Fan ek design hai,jisko hum bolte hain class. Usha fan,orient fan etc ye us class ke objects hain.Python me class and object ka mtlb- CLASS = Blueprint/Template and OBJECT = Real item created from that template.

In [1]:
# Step 1: Class banao
class Fan:
  def __init__(self, brand, speed):   # Constructor
    self.brand = brand   # Attribute
    self.speed = speed   # Attribute

  def turn_on(self):    # Method
    print(f"{self.brand} fan is ON at speed {self.speed}")

# Ab tak kya hua:-
# Fan--class
# __init__()- jab object banate ho, ye function automatic chal jata hai
# Self-- jisko object bana rahe ho,uska reference

# Ab object banao (Real Fan)
f1 = Fan("Usha", 3)
f2 = Fan("Bajaj", 5)

# Method ko call karo
f1.turn_on()
f2.turn_on()

# self kya karta hai- Jab aap f1.turn_on() likhte ho,python turn_on() method ko call karta hai, aur self me f1 chala jata hai.
# Toh self.brand ka matlb = f1.brand

# Summary:-
# class- Design/template(jese fan ka design)
# object- Real item(jese usha fan)
# __init__()- object banate time chalne wala function
# self- jis object par kaam ho raha hai,uska refrence

Usha fan is ON at speed 3
Bajaj fan is ON at speed 5

In [3]:
# Ek class student banao jisme name aur marks ho.Method ho show()
class Student:
  def __init__(self, name, marks):   # constructor
    self.name = name   # Object ka naam
    self.marks = marks   # object ke marks
  def show(self):  # method
    print(self.name, "got", self.marks, "marks.")

#object banao
s1 = Student("Firoz", 92)
s2 = Student("Rubina", 89)

# Method ko call kro
s1.show()
s2.show()

Firoz got 92 marks.
Rubina got 89 marks.

In [5]:
# Ek class laptop banao jisme brand aur ram ho.And method ho specs().
class Laptop:
  def __init__(self, brand, ram):   # Constructor
    self.brand = brand  # Object ka naam
    self.ram = ram  # Object ka naam
  def specs(self): # Method
    print(self.brand, "Has", self.ram, "GB RAM")
# Object banao
l1 = Laptop("Dell", 32)
l2 = Laptop("HP", 16)
# Method ko call kro
l1.specs()
l2.specs()

Dell Has 32 GB RAM
HP Has 16 GB RAM

In [5]:
# Ek class movie banao jisme title aur duration ho.Method ho play().
class Movie:
  def __init__(self, title, duration):   # Constructor
    self.title = title
    self.duration = duration   # Object name
  def play(self):   # method
    print("Playing", self.title, "for", self.duration, "Hours")
   # object
# object
m1 = Movie("Dhoom", 2.40)
m2 = Movie("Don", 3)
#Method ko call
m1.play()
m2.play()

Playing Dhoom for 2.4 Hours
Playing Don for 3 Hours

In [6]:
# Ek class employee banao jisme name aur salary ho. Method show_info()
class Employee:
  def __init__(self, name, salary):   # constructor
    self.name = name
    self.salary = salary  # object name
  def show_info(self):   # method
    print("The Salary of", self.name, "is", self.salary, "per month.")
# object
e1 = Employee("Fiorz", 70000)
e2 = Employee("Rubina", 80000)
# Method ko call
e1.show_info()
e2.show_info()

The Salary of Fiorz is 70000 per month.
The Salary of Rubina is 80000 per month.

In [8]:
# ek class mobile banao jisme brand aur price ho.method ho details
class Mobile:
  def __init__(self, brand, price):   # constructor
    self.brand = brand
    self.price = price  # object name
  def details(self):   # method
    print(self.brand, "costs", self.price, "rupees.")
# object
m1 = Mobile("Samsung", 10000)
m2 = Mobile("Apple", 20000)
# Method ko call
m1.details()
m2.details()

Samsung costs 10000 rupees.
Apple costs 20000 rupees.